*.framework
Tan Chess HD.xcodeproj/wangjack.pbxuser
Tan Chess HD.xcodeproj/wangjack.mode1v3
Tan Chess HD.xcodeproj/xcuserdata/
Tan Chess HD.xcodeproj/project.xcworkspace/
Tan Chess HD.xcodeproj/mac.pbxuser
Tan Chess HD.xcodeproj/mac.mode1v3
